<!doctype html>
<div class="char-desc">
  <div class="list-name">
      <p>{{name}}</p>
  </div>
  <div class="list-lvl">
      <p>{{level}}</p>
  </div>
  <div class="list-class">
      <p>{{class}}</p>
  </div>
  <div class="list-race">
      <p>{{race}}</p>
  </div>
  <div class="list-view">
      <a href="/chars/{{name}}/{{race}}">View</a>
  </div>
  <div class="list-edit">
      <a href="/chars/{{name}}/{{race}}/edit">Edit</a>
  </div>
</div>
